* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 50px;
}

header {
  height: 160px;
  background-color: coral;
}

section {
  border: 2px solid black;
  /* display: flex; */
  /* width: 500px; */
  /* height: 300px; */
  font-size: 10px;
}

section div {
  /* width: 50px; */
  /* height: auto; */
  /* height: 150px; */
  /* height: 10em; */
  /* height: 30rem; */
  /* height: 50%; */
  height: 20vh;
  /* max-height: 250px; */
  /* width: 150px; */
  /* width: 30rem; */
  width: 10vw;
  /* min-width: 200px;
  max-width: 350px; */
  /* width: 150px; */
  margin: 20px;
  line-height: 150px;
  display: inline-block;
  background-color: lightpink;
  text-align: center;
}

footer {
  background-color: burlywood;
  height: 150px;
}

@media only screen and (min-width: 200px) and (max-width: 599px) {}
@media only screen and (min-width: 600px) {}
@media only screen and (min-width: 1000px) {}

@media only screen and (max-width: 700px) {
  section {
    background-color: gold;
  }
}

@media only screen and (max-width: 350px) {
  section {
    background-color: hotpink;
  }
}

@media only screen and (orientation: landscape) {
  section {
    background-color: lawngreen;
  }
}

