<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Objective</title>
</head>
<body>
  
  <form method="POST" action="/objectives/new">

    <label for="question">question</label>
    <input id="question" type="text" name="question"/>
    <label for="answer">answer</label>
    <input id="answer" type="text" name="answer"/>
    <label for="sort">sort</label>
    <input id="sort" type="text" name="sort"/>
    <label for="type">type</label>
    <input id="type" type="text" name="type"/>
    <button>Save</button>
  </form>

</body>
</html>